<h1>Soluci&oacute;n Reto BCP</h1>
<p>Bienvenido a la solucion del reto BCP. La solucion usa las sgtes tecnologias :</p>
<ul>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for
    client-side code
    <ul>
      <li>Se crearon m&oacute;dulos para el routing</li>
      <li>Se cre&oacute; un pipe para la imagen aleatoria</li>
      <li>Se persisten los filtros de busqueda entre la pantalla de listado y edici&oacute;n</li>
      <li>La pantalla de edici&oacute;n de agencia solo valida el nombre</li>
      <li>Se implement&oacute; un resolver para la naveci&oacute;n a la pantalla de edici&oacute;n</li>
    </ul>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
